# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.vscode
#Procfile

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
images/*
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
venv